
html,body{
	font-size: 16px;
}
*{
	box-sizing:border-box;
}
.btn-custom, .btn-white{
	width: auto;
	height: auto;
	padding: 1ex 5ex;

}
/* VENDOR / BASE */
@import 'vendor/bootstrap';
@import 'vendor/font-awesome';
@import 'vendor/mediaqueries';

/* OUR STYLES */
@import 'modules/main';
@import 'modules/homepage';
@import 'modules/venue_list';
@import 'modules/_search_results';
