html,body{
	font-size: 16px;
}
*{
	box-sizing:border-box;
}
.btn-custom, .btn-white{
	width: auto;
	height: auto;
	padding: 1ex 5ex;

}

.container.background-top{
	margin-bottom: 2em;
}

.flex-row{
	display: flex;
	position: relative;
	flex-direction:row
}
.flex-column{
	display: flex;
	position: relative;
	flex-direction:column
}
.venue_bx{background:white;}
/* VENDOR / BASE */
@import 'vendor/bootstrap';
@import 'vendor/font-awesome';
@import 'vendor/mediaqueries';
@import 'vendor/ionicons';

/* OUR STYLES */
@import 'modules/main';
@import 'modules/homepage';
@import 'modules/venue_list';
@import 'modules/_search_results';
@import 'modules/_venue_detail';
@import 'modules/_footer';
@import 'modules/login';
@import 'modules/profile';
@import 'modules/listing_d';
@import 'modules/listing_details';
@import 'modules/addings';
@import 'modules/_msg';
