each val in [1,2,3,4,5,6,7,8,9,10]
  .buy_ticket
    img.event_image(src="/assets/images/lana_parrilla.jpg")
    .event_name
      .title Lana Parrilla
      .description @ArenaMX May 31th
    .event_price 32
    .quantity
      .title x1
      .description ticket(s)
    .seller
      img.seller_thumbnail(src="/assets/images/donald_trump.jpg")
      .summary
        .name Donald Trump
        .rating
          img(src="../../assets/images/star-icon.svg")
          img(src="../../assets/images/star-icon.svg")
          img(src="../../assets/images/star-icon.svg")
          img(src="../../assets/images/star-icon.svg")
    button.btn-white MESSAGE
    button.btn-custom BUY TICKETS