.section
  span.text YOU MAY ALSO LIKE
.row
  .col-lg-4
    .Rectangle-132.mtop2
      .event_boxi
        p.font14.mtop1 29 DIC 2015
        span.font28
          | David Bowie
          br
          | @TheVenue
        br
        br
        span.font11
          | It was a humorously perilous business for both of us. For, before we proceed further, it must be said.
        p.font11
          b
            br
            |  25 friends are attending
            br
        p
          span.Oval-42
            img.rounded(src='/assets/images/portrait/uno.jpg')
          span.Oval-42
            img.rounded(src='/assets/images/portrait/dos.jpg')
          span.Oval-42
            img.rounded(src='/assets/images/portrait/tres.jpg')
          span.Oval-42
            img.rounded(src='/assets/images/portrait/cuatro.jpg')
          button.btn-tickets.btn-custom1 SEE TICKETS
          button.btn-white1 SAVE FOR LATER
      .event_boxd
        span
          img(src='/assets/images/portrait/medium-p.png')
  .col-lg-4
    .Rectangle-132.mtop2
      .event_boxi
        p.font14.mtop1 29 DIC 2015
        span.font28
          | David Bowie
          br
          | @TheVenue
        br
        br
        span.font11
          | It was a humorously perilous business for both of us. For, before we proceed further, it must be said.
        p.font11
          b
            br
            |  25 friends are attending
            br
        p
          span.Oval-42
            img.rounded(src='/assets/images/portrait/uno.jpg')
          span.Oval-42
            img.rounded(src='/assets/images/portrait/dos.jpg')
          span.Oval-42
            img.rounded(src='/assets/images/portrait/tres.jpg')
          span.Oval-42
            img.rounded(src='/assets/images/portrait/cuatro.jpg')
          button.btn-tickets.btn-custom1 SEE TICKETS
          button.btn-white1 SAVE FOR LATER
      .event_boxd
        span
          img(src='/assets/images/portrait/medium-p.png')
  .col-lg-4
    .Rectangle-132.mtop2
      .event_boxi
        p.font14.mtop1 29 DIC 2015
        span.font28
          | David Bowie
          br
          | @TheVenue
        br
        br
        span.font11
          | It was a humorously perilous business for both of us. For, before we proceed further, it must be said.
        p.font11
          b
            br
            |  25 friends are attending
            br
        p
          span.Oval-42
            img.rounded(src='/assets/images/portrait/uno.jpg')
          span.Oval-42
            img.rounded(src='/assets/images/portrait/dos.jpg')
          span.Oval-42
            img.rounded(src='/assets/images/portrait/tres.jpg')
          span.Oval-42
            img.rounded(src='/assets/images/portrait/cuatro.jpg')
          button.btn-tickets.btn-custom1 SEE TICKETS
          button.btn-white1 SAVE FOR LATER
      .event_boxd
        span
          img(src='/assets/images/portrait/medium-p.png')
.row
  .col-lg-4
    .Rectangle-132.mtop2
      .event_boxi
        p.font14.mtop1 29 DIC 2015
        span.font28
          | David Bowie
          br
          | @TheVenue
        br
        br
        span.font11
          | It was a humorously perilous business for both of us. For, before we proceed further, it must be said.
        p.font11
          b
            br
            |  25 friends are attending
            br
        p
          span.Oval-42
            img.rounded(src='/assets/images/portrait/uno.jpg')
          span.Oval-42
            img.rounded(src='/assets/images/portrait/dos.jpg')
          span.Oval-42
            img.rounded(src='/assets/images/portrait/tres.jpg')
          span.Oval-42
            img.rounded(src='/assets/images/portrait/cuatro.jpg')
          button.btn-tickets.btn-custom1 SEE TICKETS
          button.btn-white1 SAVE FOR LATER
      .event_boxd
        span
          img(src='/assets/images/portrait/medium-p.png')
  .col-lg-4
    .Rectangle-132.mtop2
      .event_boxi
        p.font14.mtop1 29 DIC 2015
        span.font28
          | David Bowie
          br
          | @TheVenue
        br
        br
        span.font11
          | It was a humorously perilous business for both of us. For, before we proceed further, it must be said.
        p.font11
          b
            br
            |  25 friends are attending
            br
        p
          span.Oval-42
            img.rounded(src='/assets/images/portrait/uno.jpg')
          span.Oval-42
            img.rounded(src='/assets/images/portrait/dos.jpg')
          span.Oval-42
            img.rounded(src='/assets/images/portrait/tres.jpg')
          span.Oval-42
            img.rounded(src='/assets/images/portrait/cuatro.jpg')
          button.btn-tickets.btn-custom1 SEE TICKETS
          button.btn-white1 SAVE FOR LATER
      .event_boxd
        span
          img(src='/assets/images/portrait/medium-p.png')
  .col-lg-4
    .Rectangle-132.mtop2
      .event_boxi
        p.font14.mtop1 29 DIC 2015
        span.font28
          | David Bowie
          br
          | @TheVenue
        br
        br
        span.font11
          | It was a humorously perilous business for both of us. For, before we proceed further, it must be said.
        p.font11
          b
            br
            |  25 friends are attending
            br
        p
          span.Oval-42
            img.rounded(src='/assets/images/portrait/uno.jpg')
          span.Oval-42
            img.rounded(src='/assets/images/portrait/dos.jpg')
          span.Oval-42
            img.rounded(src='/assets/images/portrait/tres.jpg')
          span.Oval-42
            img.rounded(src='/assets/images/portrait/cuatro.jpg')
          button.btn-tickets.btn-custom1 SEE TICKETS
          button.btn-white1 SAVE FOR LATER
      .event_boxd
        span
          img(src='/assets/images/portrait/medium-p.png')

script(src='/dist/js/app.min.js')
