    .wrapper
      .section.mtop2
        span.subtitle.font16 YOU MAY ALSO LIKE
      .row-fluid
        .venues_list
          .card-footer
            .card-left
              .card-box
                p.font11.purple.bold.mtop1 29 DIC 2015
                span.font28
                  | David Bowie
                  br
                  | @TheVenue
                br
                span.font11.gray
                  | It was a humorously perilous business for both of us. For, before we proceed further, it must be said.
                p.font11.bold.purple
                  br
                  |  25 friends are attending
                  br
                span.Oval-42.portrait-1
                  img.rounded(src='../../assets/images/portrait/uno.jpg')
                span.Oval-42.portrait-2
                  img.rounded(src='../../assets/images/portrait/dos.jpg')
                span.Oval-42.portrait-3
                  img.rounded(src='../../assets/images/portrait/tres.jpg')
                span.Oval-42.portrait-4
                  img.rounded(src='../../assets/images/portrait/cuatro.jpg')
                button.btn-red-tickets SEE TICKETS
                button.btn-white-tickets SAVE FOR LATER
              .venue_boxr
                .gradiente
                  .title FROM
                  .price $45
                span
                  img(src='../../assets/images/portrait/medium-p.png')
          .card-footer
            .card-left
              .card-box
                p.font11.purple.bold.mtop1 29 DIC 2015
                span.font28
                  | David Bowie
                  br
                  | @TheVenue
                br
                span.font11.gray
                  | It was a humorously perilous business for both of us. For, before we proceed further, it must be said.
                p.font11.bold.purple
                  br
                  |  25 friends are attending
                  br
                span.Oval-42.portrait-1
                  img.rounded(src='../../assets/images/portrait/uno.jpg')
                span.Oval-42.portrait-2
                  img.rounded(src='../../assets/images/portrait/dos.jpg')
                span.Oval-42.portrait-3
                  img.rounded(src='../../assets/images/portrait/tres.jpg')
                span.Oval-42.portrait-4
                  img.rounded(src='../../assets/images/portrait/cuatro.jpg')
                button.btn-red-tickets SEE TICKETS
                button.btn-white-tickets SAVE FOR LATER
              .venue_boxr
                .gradiente
                  .title FROM
                  .price $45
                span
                  img(src='../../assets/images/portrait/medium-p.png')
          .card-footer
            .card-left
              .card-box
                p.font11.purple.bold.mtop1 29 DIC 2015
                span.font28
                  | David Bowie
                  br
                  | @TheVenue
                br
                span.font11.gray
                  | It was a humorously perilous business for both of us. For, before we proceed further, it must be said.
                p.font11.bold.purple
                  br
                  |  25 friends are attending
                  br
                span.Oval-42.portrait-1
                  img.rounded(src='../../assets/images/portrait/uno.jpg')
                span.Oval-42.portrait-2
                  img.rounded(src='../../assets/images/portrait/dos.jpg')
                span.Oval-42.portrait-3
                  img.rounded(src='../../assets/images/portrait/tres.jpg')
                span.Oval-42.portrait-4
                  img.rounded(src='../../assets/images/portrait/cuatro.jpg')
                button.btn-red-tickets SEE TICKETS
                button.btn-white-tickets SAVE FOR LATER
              .venue_boxr
                .gradiente
                  .title FROM
                  .price $45
                span
                  img(src='../../assets/images/portrait/medium-p.png')
      // Section Icons
    // /container
    // /wrapper
<script src="../../dist/js/app.min.js"></script>