.container.background-top
  // Static navbar
  nav.navbar.navbar-default
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.logo(href='#') TicketSloth
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav.main
          li
            a(href='#') Sell Tickets
          li
            a(href='#about') My Tickets
        ul.nav.navbar-nav.navbar-right.main
          li
            a(href='#') Listings
          li
            a(href='#') Events
          li
            a(href='#') Venues
          li
            a(href='#') Sign In
          li
            a(href='#') Log In
      // /.nav-collapse
      #search
        label(for='search-input')
          i.fa.fa-search(aria-hidden='true')
          span.sr-only
        input#search-input.form-control.input-lg(placeholder='Search events, artists, venues...', autocomplete='off', spellcheck='false', autocorrect='off', tabindex='1')
        a#search-clear.fa.fa-times-circle.hide(href='#', aria-hidden='true')
          span.sr-only Clear search
  // /.header
// /first - container
