each val in [1,2,3,4,5]
  .upcoming_event
    .date
      .month FEB
      .dd 14
      .ddd SUN
    .event_summary
      .event_name
        .title Justin Bieber
        .description 8:00 PM
      .event_price
        .description FROM
        .title 32.50
      button.find_tickets FIND TICKETS