//DOCTYPE, META & Styles
include includes/head.jade
// Header & Menu
include includes/header-s.jade
// first fold
.wrapper
  .container
    .section.mtop2
      .col-md-7
        .white-rectangle
          p
            span.font28
              b Justin Bieber @TheVenue
            span#price.font28
              b $120
          p.font18
            span.gray Feb 8th 2:00 PM
            span#tickets-available
              b 1 ticket(s) available
        span.img-float.mright(align='left')
          img.rounded(src='/assets/images/portrait/100.jpg', width='50px', height='50px')
        span.font18 Kristi Muse 
        .flex-contain
          li.flex-item
            span#stars ☆ ☆ ☆ ☆ ☆
            span#numberStars.font15.bold  &nbsp(14)
          li.flex-item
          li.flex-item
            img.img-verified(src='/assets/images/icons/identity-verified.png')
          li.flex-item
            img.img-verified(src='/assets/images/icons/facebook-verified.png')
          li.flex-item
            img.img-verified(src='/assets/images/icons/phone-verified.png')
        .toleft
          | Kook-2 Directory give real links for your site. kook-2.com  Add url free today. The Directory is known with links to site with many useful and free stuff. Find all what you search – free software, download movies, films, calls, add url free and many other not only free but and qualitative sites, products and services.
        button.btn-custom.bold.letter-s CONTACT SELLER
        .section.mtop2.font18
          | More information about Kristi, the seller:
          br
        .mtop2
        img.mright.rounded(src='/assets/images/portrait/100.jpg', align='left', width='100px', height='100px')
        p
          span.font18
            b Kristi Muse
          span.font14
            br
            | Hi! My name is Kristi, I’m a dirty, dirty girl, with squirrel teeth. But don’t let that discourage you! I’m super super hot, however I’m already in love with a man, his name is Sadok and oh my god he’s a dream! So shoosh!
        .section.mtop2.font18
          | 14 REVIEWS
          span#stars  ☆ ☆ ☆ ☆ ☆
          br
      .col-md-5.mtop2
        .buying-on-ticketslot.mtop2 BUYING ON TICKETSLOTH IS SAFE, AFFORDABLE, AND RELIABLE
        .mtop2.mleft2
          img.mright(src='/assets/images/icons/review-icon.png', align='left')
          p
            span.font18.bold BUYER PROTECTION
            span.font14
              br
              | It was a humorously perilous business for both of us.
        .mtop2.mleft2
          img.mright(src='/assets/images/icons/review-icon.png', align='left')
          p
            span.font18.bold REVIEW SYSTEM
            span.font14
              br
              | It was a humorously perilous business for both of us.
        .mtop2.mleft2
          img.mright(src='/assets/images/icons/nofees-icon.png', align='left')
          p
            span.font18.bold NO FEES
            span.font14
              br
              | It was a humorously perilous business for both of us.
      div

      // Section Icons
    // /container
  // /wrapper
//
  Bootstrap core JavaScript
  ==================================================
// Placed at the end of the document so the pages load faster
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script.
  window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\\/script>')
script(src='js/bootstrap.js')
// IE10 viewport hack for Surface/desktop Windows 8 bug
script(src='../../assets/js/ie10-viewport-bug-workaround.js')
