//DOCTYPE, META & Styles
include includes/head.jade
// first fold
.container.background-top
  // Static navbar
  nav.navbar.navbar-default
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.logo(href='#') TicketSloth
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav.main
          li
            a(href='#') Sell Tickets
          li
            a(href='#about') My Tickets
        ul.nav.navbar-nav.navbar-right.main
          li
            a(href='#') Listings
          li
            a(href='#') Events
          li
            a(href='#') Venues
          li
            a(href='#') Sign In
          li
            a(href='#') Log In
      // /.nav-collapse
      .section
        span.text.centered.font27 Your messages
    // /.container-fluid
  // /.header
// /container
// first fold
.wrapper
  .container
    .section.mtop2
      .col-md-12.white-rectangle
        .col-md-3.icons
          img.mright.rounded(src='../../assets/images/portrait/home-list.jpg', align='left', width='54px', height='54px')
          p
            span.font18
              b Neil Jeff
            span.font12.gray
              br
              | Last seen 5:45 pm
        .col-md-7
          button.btn-purple BUYING
          p.font14 Hello. I have uploading files in the server and I might need to…
        .col-md-2
          span.font11 Today, 2:23 pm
      .col-md-12.white-rectangle
        .col-md-3.icons
          img.mright.rounded(src='../../assets/images/portrait/home-list.jpg', align='left', width='54px', height='54px')
          p
            span.font18
              b Neil Jeff
            span.font12.gray
              br
              | Last seen 5:45 pm
        .col-md-7
          button.btn-purple BUYING
          p.font14 Hello. I have uploading files in the server and I might need to…
        .col-md-2
          span.font11 Today, 2:23 pm
      .col-md-12.white-rectangle
        .col-md-3.icons
          img.mright.rounded(src='../../assets/images/portrait/home-list.jpg', align='left', width='54px', height='54px')
          p
            span.font18
              b Neil Jeff
            span.font12.gray
              br
              | Last seen 5:45 pm
        .col-md-7
          button.btn-purple BUYING
          p.font14 Hello. I have uploading files in the server and I might need to…
        .col-md-2
          span.font11 Today, 2:23 pm
      .col-md-12.white-rectangle
        .col-md-3.icons
          img.mright.rounded(src='../../assets/images/portrait/home-list.jpg', align='left', width='54px', height='54px')
          p
            span.font18
              b Neil Jeff
            span.font12.gray
              br
              | Last seen 5:45 pm
        .col-md-7
          button.btn-purple BUYING
          p.font14 Hello. I have uploading files in the server and I might need to…
        .col-md-2
          span.font11 Today, 2:23 pm
      .col-md-12.white-rectangle
        .col-md-3.icons
          img.mright.rounded(src='../../assets/images/portrait/home-list.jpg', align='left', width='54px', height='54px')
          p
            span.font18
              b Neil Jeff
            span.font12.gray
              br
              | Last seen 5:45 pm
        .col-md-7
          button.btn-purple BUYING
          p.font14 Hello. I have uploading files in the server and I might need to…
        .col-md-2
          span.font11 Today, 2:23 pm
      .col-md-12.white-rectangle
        .col-md-3.icons
          img.mright.rounded(src='../../assets/images/portrait/home-list.jpg', align='left', width='54px', height='54px')
          p
            span.font18
              b Neil Jeff
            span.font12.gray
              br
              | Last seen 5:45 pm
        .col-md-7
          button.btn-purple BUYING
          p.font14 Hello. I have uploading files in the server and I might need to…
        .col-md-2
          span.font11 Today, 2:23 pm
    // Section Icons
    .section
      span.text YOU MAY ALSO LIKE
    .row
      .col-lg-4
        .Rectangle-132.mtop2
          .event_boxi
            p.font14.mtop1.purple 29 DIC 2015
            span.font28
              | David Bowie
              br
              | @TheVenue
            br
            br
            span.font11
              | It was a humorously perilous business for both of us. For, before we proceed further, it must be said.
            p.font11.purple
              b
                br
                |  25 friends are attending
                br
            p
              span.Oval-42
                img.rounded(src='../../assets/images/portrait/uno.jpg')
              span.Oval-42
                img.rounded(src='../../assets/images/portrait/dos.jpg')
              span.Oval-42
                img.rounded(src='../../assets/images/portrait/tres.jpg')
              span.Oval-42
                img.rounded(src='../../assets/images/portrait/cuatro.jpg')
              button.btn-tickets.btn-custom1 SEE TICKETS
              button.btn-white1 SAVE FOR LATER
          .event_boxd
            span
              img(src='../../assets/images/portrait/medium-p.png')
      .col-lg-4
        .Rectangle-132.mtop2
          .event_boxi
            p.font14.mtop1.purple 29 DIC 2015
            span.font28
              | David Bowie
              br
              | @TheVenue
            br
            br
            span.font11
              | It was a humorously perilous business for both of us. For, before we proceed further, it must be said.
            p.font11.purple
              b
                br
                |  25 friends are attending
                br
            p
              span.Oval-42
                img.rounded(src='../../assets/images/portrait/uno.jpg')
              span.Oval-42
                img.rounded(src='../../assets/images/portrait/dos.jpg')
              span.Oval-42
                img.rounded(src='../../assets/images/portrait/tres.jpg')
              span.Oval-42
                img.rounded(src='../../assets/images/portrait/cuatro.jpg')
              button.btn-tickets.btn-custom1 SEE TICKETS
              button.btn-white1 SAVE FOR LATER
          .event_boxd
            span
              img(src='../../assets/images/portrait/medium-p.png')
      .col-lg-4
        .Rectangle-132.mtop2
          .event_boxi
            p.font14.mtop1.purple 29 DIC 2015
            span.font28
              | David Bowie
              br
              | @TheVenue
            br
            br
            span.font11
              | It was a humorously perilous business for both of us. For, before we proceed further, it must be said.
            p.font11.purple
              b
                br
                |  25 friends are attending
                br
            p
              span.Oval-42
                img.rounded(src='../../assets/images/portrait/uno.jpg')
              span.Oval-42
                img.rounded(src='../../assets/images/portrait/dos.jpg')
              span.Oval-42
                img.rounded(src='../../assets/images/portrait/tres.jpg')
              span.Oval-42
                img.rounded(src='../../assets/images/portrait/cuatro.jpg')
              button.btn-tickets.btn-custom1 SEE TICKETS
              button.btn-white1 SAVE FOR LATER
          .event_boxd
            span
              img(src='../../assets/images/portrait/medium-p.png')
  // /container
// /wrapper
    //
      Bootstrap core JavaScript
      ==================================================
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\\/script>')
    script(src='js/bootstrap.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='../../assets/js/ie10-viewport-bug-workaround.js')
