//DOCTYPE, META & Styles
include includes/head.jade
// first fold
// Header
.container.background-top
  // Static navbar
  nav.navbar.navbar-default
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.logo(href='#') TicketSloth
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav.main
          li
            a(href='#') Sell Tickets
          li
            a(href='#about') My Tickets
        ul.nav.navbar-nav.navbar-right.main
          li
            a(href='#') Listings
          li
            a(href='#') Events
          li
            a(href='#') Venues
          li
            a(href='#') Sign In
          li
            a(href='#') Log In
      // /.nav-collapse
      .section
        span.text.centered.font27 Add a new venue
    // /.container-fluid
  // /.header
// /container
// first fold
.wrapper
  .container
    .section.mtop2
      // New listing Form
      form#newVenue
        .row
          .col-md-6
            .form-group
              label(for='Name') Name
              input#Name.form-control(type='text', placeholder='Name of the venue')
            .form-group
              label(for='venuDesc') Description
              input#venuDesc.form-control.longInput(type='text', placeholder='Describe the venue in detail')
              br
              | Hint: Some hint about the description.
            label(for='file') Images
            .Rectangle-51
              .box__input
                i.fa.fa-camera-retro.fa-3.camera-icon(aria-hidden='true')
                span.box__dragndrop
                span.box__button(type='submit')  Upload image of your ticket
                br
                p
                  span.box__uploading Uploading…
                  span.box__success Done!
                  span.box__error Error!
          .col-md-6
            .form-group
              label(for='Adress') Address
              input#Adress.form-control(type='text', placeholder='Address line 1')
              br
              input#Adress.form-control(type='text', placeholder='Address line 1')
          .col-md-4
            .form-group
              label(for='City') City
              input#City.form-control(type='text', placeholder='City of the venue')
          .col-md-2
            .form-group
              label(for='State') State
              input#State.form-control(style='display:inline-block;', type='text', placeholder='ST')
          .col-md-4
            .form-group
              label(for='Website') Website
              input#Website.form-control(type='text', placeholder='City of the venue')
          .col-md-6
            p
              b
                | The venue has...
                b
            .white-square
              i.fa.fa-glass.venue-boxes(aria-hidden='true')
              br
              span.font12 Alcohol
            .white-square
              i.fa.fa-cutlery.venue-boxes(aria-hidden='true')
              br
              span.font12 Restaurant
            .white-square
              i.fa.fa-picture-o.venue-boxes(aria-hidden='true')
              br
              span.font12 Numbered Seats
            .white-square
              i.fa.fa-glass.venue-boxes(aria-hidden='true')
              br
              span.font12 Coat Check
        button.btn.btn-custom.mtop2(type='submit') CONFIRM AND SUBMIT
    // /container
  // /wrapper
// Scripts
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script.
  window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\\/script>')
script(src='js/bootstrap.js')
// IE10 viewport hack for Surface/desktop Windows 8 bug
script(src='../../assets/js/ie10-viewport-bug-workaround.js')
