//DOCTYPE, META & Styles
include includes/head.jade
// Header & Menu
include includes/header-s.jade
// first fold
html
  body
    .wrapper
      .container
        // ICONS
        .section.mtop2
          .col-md-5.mtop2
            .Rectangle-586
              .font24.font-profile Kristi Muse
              img.mright.rounded.image-center(src='../../assets/images/portrait/100.jpg', width='100px', height='100px')
              p.font14(style='text-align: center; margin: 1em')
                | Hi! My name is Kristi, I’m a dirty, dirty girl, with squirrel teeth. But don’t let that discourage you! I’m super super hot, however I’m already in love with a man.
              .profile-icons
                div(style='display: inline-block; width: 50%; margin-left:2em; margin-top:2em;')
                  img.img-icon-prof(src='../../assets/images/icons/facebook-verified.svg', align='left')
                  p
                    | FACEBOOK 
                    br
                    | VERIFIED
                div(style='display: inline-block; width: 40%;')
                  img.img-icon-prof(src='../../assets/images/icons/identity-verified.svg', align='left')
                  p
                    | IDENTITY 
                    br
                    | VERIFIED
                div(style='display: inline-block; width: 50%; margin-left:2em; margin-top:2em;')
                  img.img-icon-prof(src='../../assets/images/icons/phone-verified.svg', align='left')
                  p
                    | PHONE 
                    br
                    | VERIFIED
                div(style='display: inline-block; width: 40%; margin-bottom:3em')
                  img.img-icon-prof(src='../../assets/images/icons/completed-sales.svg', align='left')
                  p
                    | COMPLETED 
                    br
                    | SALES
              button.btn-red.bold.letter-s.image-center CONTACT SELLER
          .col-md-1
          .col-md-6.col-md-offset-1.mtop2
            span.text1.font16 RECENT LISTINGS
            .white-rectangle-search
              img.mright(src='../../assets/images/portrait/home-list.jpg', align='left', height='70px', width='70px')
              .flex-contain-search
                .mleft.mtop1
                  span.font18
                    b  Justin Bieber
                  span.font13.gray
                    br
                    | @TheVenue Apr 12th
                li.flex-item
                  #price.flex-box.font28
                    b $30
                  p
                li.flex-item
                  p.flex-box
                    b x1
                  span.font10
                    | ticket(s)
                li.flex-item
                  button.btn-custom-search.flex-box MESSAGE
                li.flex-item
                  button.btn-white-search.flex-box BUY TICKETS
            .white-rectangle-search
              img.mright(src='../../assets/images/portrait/home-list.jpg', align='left', height='70px', width='70px')
              .flex-contain-search
                .mleft.mtop1
                  span.font18
                    b  Justin Bieber
                  span.font13.gray
                    br
                    | @TheVenue Apr 12th
                li.flex-item
                  #price.flex-box.font28
                    b $30
                  p
                li.flex-item
                  p.flex-box
                    b x1
                  span.font10
                    | ticket(s)
                li.flex-item
                  button.btn-custom-search.flex-box MESSAGE
                li.flex-item
                  button.btn-white-search.flex-box BUY TICKETS
            .white-rectangle-search
              img.mright(src='../../assets/images/portrait/home-list.jpg', align='left', height='70px', width='70px')
              .flex-contain-search
                .mleft.mtop1
                  span.font18
                    b  Justin Bieber
                  span.font13.gray
                    br
                    | @TheVenue Apr 12th
                li.flex-item
                  #price.flex-box.font28
                    b $30
                  p
                li.flex-item
                  p.flex-box
                    b x1
                  span.font10
                    | ticket(s)
                li.flex-item
                  button.btn-custom-search.flex-box MESSAGE
                li.flex-item
                  button.btn-white-search.flex-box BUY TICKETS
            .white-rectangle-search
              img.mright(src='../../assets/images/portrait/home-list.jpg', align='left', height='70px', width='70px')
              .flex-contain-search
                .mleft.mtop1
                  span.font18
                    b  Justin Bieber
                  span.font13.gray
                    br
                    | @TheVenue Apr 12th
                li.flex-item
                  #price.flex-box.font28
                    b $30
                  p
                li.flex-item
                  p.flex-box
                    b x1
                  span.font10
                    | ticket(s)
                li.flex-item
                  button.btn-custom-search.flex-box MESSAGE
                li.flex-item
                  button.btn-white-search.flex-box BUY TICKETS
            .white-rectangle-search
              img.mright(src='../../assets/images/portrait/home-list.jpg', align='left', height='70px', width='70px')
              .flex-contain-search
                .mleft.mtop1
                  span.font18
                    b  Justin Bieber
                  span.font13.gray
                    br
                    | @TheVenue Apr 12th
                li.flex-item
                  #price.flex-box.font28
                    b $30
                  p
                li.flex-item
                  p.flex-box
                    b x1
                  span.font10
                    | ticket(s)
                li.flex-item
                  button.btn-custom-search.flex-box MESSAGE
                li.flex-item
                  button.btn-white-search.flex-box BUY TICKETS
            .white-rectangle-search
              img.mright(src='../../assets/images/portrait/home-list.jpg', align='left', height='70px', width='70px')
              .flex-contain-search
                .mleft.mtop1
                  span.font18
                    b  Justin Bieber
                  span.font13.gray
                    br
                    | @TheVenue Apr 12th
                li.flex-item
                  #price.flex-box.font28
                    b $30
                  p
                li.flex-item
                  p.flex-box
                    b x1
                  span.font10
                    | ticket(s)
                li.flex-item
                  button.btn-custom-search.flex-box MESSAGE
                li.flex-item
                  button.btn-white-search.flex-box BUY TICKETS
            .white-rectangle-search
              img.mright(src='../../assets/images/portrait/home-list.jpg', align='left', height='70px', width='70px')
              .flex-contain-search
                .mleft.mtop1
                  span.font18
                    b  Justin Bieber
                  span.font13.gray
                    br
                    | @TheVenue Apr 12th
                li.flex-item
                  #price.flex-box.font28
                    b $30
                  p
                li.flex-item
                  p.flex-box
                    b x1
                  span.font10
                    | ticket(s)
                li.flex-item
                  button.btn-custom-search.flex-box MESSAGE
                li.flex-item
                  button.btn-white-search.flex-box BUY TICKETS
            .white-rectangle-search
              img.mright(src='../../assets/images/portrait/home-list.jpg', align='left', height='70px', width='70px')
              .flex-contain-search
                .mleft.mtop1
                  span.font18
                    b  Justin Bieber
                  span.font13.gray
                    br
                    | @TheVenue Apr 12th
                li.flex-item
                  #price.flex-box.font28
                    b $30
                  p
                li.flex-item
                  p.flex-box
                    b x1
                  span.font10
                    | ticket(s)
                li.flex-item
                  button.btn-custom-search.flex-box MESSAGE
                li.flex-item
                  button.btn-white-search.flex-box BUY TICKETS
        .col-md-12
          .col-md-5.buyin
            .centered.mtop2.bold.cool-gray BUYING ON TICKETSLOTH IS SAFE, AFFORDABLE, AND RELIABLE
            .mtop2.mleft2
              img.mright(src='../../assets/images/icons/review-icon.png', align='left')
              p
                span.font18.bold BUYER PROTECTION
                span.font14
                  br
                  | It was a humorously perilous business for both of us.
            .mtop2.mleft2
              img.mright(src='../../assets/images/icons/review-icon.png', align='left')
              p
                span.font18.bold REVIEW SYSTEM
                span.font14
                  br
                  | It was a humorously perilous business for both of us.
            .mtop2.mleft2
              img.mright(src='../../assets/images/icons/nofees-icon.png', align='left')
              p
                span.font18.bold NO FEES
                span.font14
                  br
                  | It was a humorously perilous business for both of us.
          .col-md-6.col-md-offset-1.mtop2.no-mr
            div
              img.mright.rounded(src='../../assets/images/portrait/100.jpg', align='left', width='60px', height='60px')
              span.font14.left-font
                b Tommy Koo
              .profile-rectangle
                span.font14.listing-font
                  div.tooltip_box
                  br
                  | The Directory is known with links to site with many useful and free stuff. Find all what you search – free software, download movies, films, calls, add url free and many other not only free.
                br
                p
                  em.font12 February 10th, 2016
            .mtop2
              img.mright.rounded(src='../../assets/images/portrait/100.jpg', align='left', width='60px', height='60px')
              span.font14.left-font
                b Tommy Koo
              .profile-rectangle
                span.font14.listing-font
                  div.tooltip_box
                  br
                  | The Directory is known with links to site with many useful and free stuff. Find all what you search – free software, download movies, films, calls, add url free and many other not only free.
                br
                p
                  em.font12 February 10th, 2016
            .mtop2
              img.mright.rounded(src='../../assets/images/portrait/100.jpg', align='left', width='60px', height='60px')
              span.font14.left-font
                b Tommy Koo
              .profile-rectangle
                span.font14.listing-font
                  div.tooltip_box
                  br
                  | The Directory is known with links to site with many useful and free stuff. Find all what you search – free software, download movies, films, calls, add url free and many other not only free.
                br
                p
                  em.font12 February 10th, 2016
            .mtop2
              img.mright.rounded(src='../../assets/images/portrait/100.jpg', align='left', width='60px', height='60px')
              span.font14.left-font
                b Tommy Koo
              .profile-rectangle
                span.font14.listing-font
                  div.tooltip_box
                  br
                  | The Directory is known with links to site with many useful and free stuff. Find all what you search – free software, download movies, films, calls, add url free and many other not only free.
                br
                p
                  em.font12 February 10th, 2016
        .col-md-12
        span.text1.font16 &nbsp;&nbsp;YOU MAY ALSO LIKE
            .row-fluid
            .venues_list
              .card-footer
                .card-left
                  .card-box
                    p.font11.purple.bold.mtop1 29 DIC 2015
                    span.font28
                      | David Bowie
                      br
                      | @TheVenue
                    br
                    span.font11.gray
                      | It was a humorously perilous business for both of us. For, before we proceed further, it must be said.
                    p.font11.bold.purple
                      br
                      |  25 friends are attending
                      br
                    span.Oval-42.portrait-1
                      img.rounded(src='../../assets/images/portrait/uno.jpg')
                    span.Oval-42.portrait-2
                      img.rounded(src='../../assets/images/portrait/dos.jpg')
                    span.Oval-42.portrait-3
                      img.rounded(src='../../assets/images/portrait/tres.jpg')
                    span.Oval-42.portrait-4
                      img.rounded(src='../../assets/images/portrait/cuatro.jpg')
                    button.btn-red-tickets SEE TICKETS
                    button.btn-white-tickets SAVE FOR LATER
                  .venue_boxr
                    .gradiente
                      .title FROM
                      .price $45
                    span
                      img(src='../../assets/images/portrait/medium-p.png')
              .card-footer
                .card-left
                  .card-box
                    p.font11.purple.bold.mtop1 29 DIC 2015
                    span.font28
                      | David Bowie
                      br
                      | @TheVenue
                    br
                    span.font11.gray
                      | It was a humorously perilous business for both of us. For, before we proceed further, it must be said.
                    p.font11.bold.purple
                      br
                      |  25 friends are attending
                      br
                    span.Oval-42.portrait-1
                      img.rounded(src='../../assets/images/portrait/uno.jpg')
                    span.Oval-42.portrait-2
                      img.rounded(src='../../assets/images/portrait/dos.jpg')
                    span.Oval-42.portrait-3
                      img.rounded(src='../../assets/images/portrait/tres.jpg')
                    span.Oval-42.portrait-4
                      img.rounded(src='../../assets/images/portrait/cuatro.jpg')
                    button.btn-red-tickets SEE TICKETS
                    button.btn-white-tickets SAVE FOR LATER
                  .venue_boxr
                    .gradiente
                      .title FROM
                      .price $45
                    span
                      img(src='../../assets/images/portrait/medium-p.png')
              .card-footer
                .card-left
                  .card-box
                    p.font11.purple.bold.mtop1 29 DIC 2015
                    span.font28
                      | David Bowie
                      br
                      | @TheVenue
                    br
                    span.font11.gray
                      | It was a humorously perilous business for both of us. For, before we proceed further, it must be said.
                    p.font11.bold.purple
                      br
                      |  25 friends are attending
                      br
                    span.Oval-42.portrait-1
                      img.rounded(src='../../assets/images/portrait/uno.jpg')
                    span.Oval-42.portrait-2
                      img.rounded(src='../../assets/images/portrait/dos.jpg')
                    span.Oval-42.portrait-3
                      img.rounded(src='../../assets/images/portrait/tres.jpg')
                    span.Oval-42.portrait-4
                      img.rounded(src='../../assets/images/portrait/cuatro.jpg')
                    button.btn-red-tickets SEE TICKETS
                    button.btn-white-tickets SAVE FOR LATER
                  .venue_boxr
                    .gradiente
                      .title FROM
                      .price $45
                    span
                      img(src='../../assets/images/portrait/medium-p.png')
          // Section Icons
        // /container
        // /wrapper
script(src='../../dist/js/app.min.js')
