.modal-header {
    padding: 15px;
    border-bottom: none;
}
.modal-subtitle{margin-top:20px; margin-bottom:20px;text-align:center;}
.modal-content {
    max-width: 556px;
    height: 506px;
    border-radius: 3px;
    background-color: #f5faff;
    box-shadow: none;
    margin: 0 auto;
}

.modal-title {
    /* padding: 15px; */
    /* border-bottom: 1px solid #e5e5e5; */

    margin: 30px 0;
    text-align: center;

    /* margin-bottom: 30px; */
}

.img-modal {
    display: inline-block;
    float: left;
    margin: 0 16px 0 20px;
}

.divModal {
    display: inline-block;
    float: left;
}

.divModal1 {
    float: right;
    padding: 0 20px;
}

.txtarea-modal {
    margin-left: 30px;
    width: 496px;
    min-height: 197px;
    border: solid 1px #dadfe6;
    color: #9495a6;
    font-style: italic;
    padding: 10px 15px;
    vertical-align: top;
}

.triangle_box {
    position: relative;
    background: #ffffff;
    float: left;
    position: relative;
    left: 2.2em;
    bottom: 0.9em;
}

.triangle_box:after,
.triangle_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.triangle_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 15px;
    margin-left: -15px;
}

.triangle_box:before {
    border-color: rgba(218, 223, 230, 0);
    border-top-color: #dadfe6;
    border-width: 16px;
    margin-left: -16px;
}

.img-modal-s {
    margin-top: 10px;
    margin-left: 15px;
    float: left;
}

.btn-modal {
    letter-spacing: 1px;
    margin-right: 14px;
    margin-top: 1.5em;
}

.modal-footer {
    border: none;
}

.stars-flex {
    position: relative;
    left: 4em;
    margin-right: 3em;
}

.flex-contain {
    position: relative;
    bottom: 1.5em;
}

.txt-verified {
    font-weight: 700;
    font-size: 10px;
    float: right;
    margin-left: 1em;
    margin-right: 3em;
    position: relative;
    bottom: 1em;
}

.img-verified {
    position: relative;
    bottom: 0.5em;
    height: 26.3px;
}

button.btn-contact {
    background: #ee190b;
    color: white;
    border: 1px solid #ee190b;
    border-radius: 2.3px;
    width: 217.4px;
    font-size: 17px;
    height: 41.2px;
}

.semibold {
    font-weight: 600;
}

.gray {
    color: #9495a6;
}

#tickets-available {
    color: #1f292e;
    float: right;
}

#star {
    position: relative;
    left: 3em;
    bottom: 1em;
    color: #ffce20;
    clear: both;
}
.horizontal-rect{
    background-color: #9495a6;
    color: white;
    line-height: 111px;
    text-align: center;
    font-weight: 700;;}
.col-space{margin-left:50px;}
.combo-custom {
    width: 120px;
    height: 45px;
    border-radius: 3px;
    background-color: #f1f5f7;
    box-shadow: inset 1px 1px 3px 0 rgba(121, 125, 128, 0.2);
    border: solid 1px #1f292e;
    margin-bottom:6em;
}

.combo-custom2 {
    width: 200px;
    height: 45px;
    border-radius: 3px;
    background-color: #f1f5f7;
    box-shadow: inset 1px 1px 3px 0 rgba(121, 125, 128, 0.2);
    border: solid 1px #1f292e;
}

.gray-rectangle {
    width: 360px;
    background: #f1f5f7;
    padding: 25px;
}

#stars {
    position: relative;
    display: inline-flex;
    bottom: 0.2em;
    color: #ffce20;
    clear: both;
    vertical-align: middle;
}

.left-font {
    position: relative;
    clear: both;
    float: left;
    padding: 1em 0;
}

.listing-font {
    position: relative;
    bottom: 1.5em;
}

.listing-box {
    margin-left: 0.7em;
    padding: 0.7em;
    display: inline-block;
    width: 85%;
    background: white;
    box-shadow: 1px 1px 15px 1px rgba(162, 160, 160, 0.1);
}

.subsubtitle {
    margin-top: 30px;
}

@media (min-width: 992px) {
    #col-md-cs {
        width: 45% !important;
        padding: 0 !important;
        margin: 30px !important;
        margin: 0 auto !important;
        display: block !important;
        text-align: center !important;
    }
}

.venues_list {
    justify-content: space-around !important;
}

.title {
    margin-top: auto;
    font-size: .8375em;
}

.price {
    font-size: 1.525em;
}

button.btn-white {
    background: white;
    color: #ee190b;
    border: 1px solid #ee190b;
    border-radius: 2.3px;
    min-height: 23px;
    width: 179px;
    font-size: 11px;
    vertical-align: middle;
    top: 2em;
    font-weight: bold;
    height: 32px;
}

.card-container {
    width: 360px;
    display: inline-block;
    background: #ffffff;
    margin-top: 20px;
    height: auto;
    box-shadow: 1px 1px 10px 1px #ddd;
}

.card-text {
    width: 48%;
    display: inline-block;
    float: left;
    margin-left: 21px;
}

.card-img {
    width: 35.8%;
    display: inline-block;
    float: right;
}

.arrow_box {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 25px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    right: 12.5em;
    top: 0.55em;
}