$white: #ffffff;

.logo {
    font-size: 34px;
    padding-left: 15px;
}
.place-card.default-card {
    display: none !important;
}
.main {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: #ffffff !important;
    font-weight: bold;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: white;
}

.navbar-toggle {
    background-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(150, 110, 121, 0.42);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: rgba(150, 110, 121, 0.42);
    font-weight: 600;
    color: white;
}

#search label {
    position: absolute;
    right: 22em;
    top: 27px;
    color: #ee190b;
}

#search {
    position: relative;
    font-size: 18px;
    padding-top: 20px;
}

.input-lg {
    height: 40px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 22.5px;
    max-width: 466.5px;
    border: solid 1px #dadfe6;
    margin: auto;
}

body {
    background-color: #F5FAFF;
    padding-bottom: 1.25em;
    font-family: 'Open Sans';
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: white;
    background-color: transparent;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    padding-top: 2rem;
}

.container.background-top {
    background-image: url(../../assets/images/background-top.png);
    width: 100%;
    height: auto;
    background-size: cover;
    padding-top: 20px;
    background-position: center bottom;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: white !important;
    font-weight: 600;
}

.text {
    /* margin-top: 2em; */
    margin: 30px 0px;
    letter-spacing: 1px;
    font-size: 16px;
    display: inline-block;
    padding-left: 15px;
}

/*input#search-input:focus {
border: #EE190B;
}*/
.form-control:focus {
    border-color: #EE190B;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.right {
    float: right;
    margin-right: 7px;
}

.left {
    float: left;
}

.mtop2 {
    margin-top: 2em !important;
}

.mtop1 {
    margin-top: 1em;
}


.wrapper {
    background: #F5FAFF;
}



.vermillion {
    color: #ee190b;
}

.subtitles {
    font-size: 27px;
    color: #1f292e;
}

.centered {
    text-align: center;
    display: inherit;
}

.img-centered {
    margin: 0 auto;
    display: flex;
}


/*BUTTONS*/

button.btn-custom {
    background: #ee190b;
    color: white;
    border: 1px solid #ee190b;
    border-radius: 2.3px;
    height: 29px;
    width: auto;
    font-size: 12px;
}

button.btn-custom1 {
    background: #ee190b;
    color: white;
    border: 1px solid #ee190b;
    border-radius: 2.3px;
    height: 29px;
    width: 100%;
    font-size: 12px;
}

.btn-purple {
    width: 60px;
    height: auto;
    font-size: 10px;
    color: white;
    border-radius: 10px;
    background-color: #7a22a3;
    border: 1px solid #7a22a3;
}

/*FONTS*/
.font10 {
    font-size: 10px;
    line-height: 20px;
}

.font11 {
    font-size: 11px;
}

.font18 {
    font-weight: bold;
    font-size: 18px;
}

.font13 {
    font-size: 13px;
}

.font8 {
    font-size: 8px;
}

.font28 {
    font-size: 28px;
}
.font27{
  font-size: 27px;
  color: $white;
}

.font34 {
    font-size: 34px;
}

.purple {
    color: #7a22a3;
}

.font14 {
    font-size: 14px;
}
.font12 {
    font-size: 12px;
}

