.cool-grey{color: #9495a6}
.txt-msg {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    color: #9495a6}
.msg-rectangle {
    background: white;
    padding: 1em;
    margin-bottom: 0.5em;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}