button.btn-red {
    background: #ee190b;
    color: white;
    border: 1px solid #ee190b;
    border-radius: 2.3px;
    height: 41px;
    width: 217px;
    font-size: 17px;
}

.image-center {
    display: block;
    margin: auto;
}

.font-profile {
    text-align: center;
    padding: 0.5em;
    font-size: 24px;
}
.Rectangle-586 {
    width: auto;
    height: 623px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    margin-right: 2em;
}